<div class="mx-auto" style="width: 500px">
	<br> <br> <br>
	<div class="container jumbotron">
		<div class="panel panel-default">
			<div class="panel-body">

				<h1 class="display-4 text-center">Login</h1>
				<br> <input type="text" id="username" class="form-control"
					placeholder="username"> <input type="password"
					id="password" class="form-control" placeholder="password">
				<br>
				<button id="LogIn" class="btn btn-dark">Log In</button>
				<button id="Register" class="btn btn-link">or register</button>

			</div>

		</div>
	</div>
</div>