<div class="mx-auto" style="width: 800px">
	<br> <br> <br>
	<div class="container jumbotron bg-white">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="text-center">Register New User</h3>

				<hr>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Username: </span>
					</div>
					<input type="text" id="newUsername" class="form-control">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Email: </span>
					</div>
					<input type="text" id="newEmail" class="form-control">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Password: </span>
					</div>
					<input type="password" id="newPassword" class="form-control">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">First Name: </span>
					</div>
					<input type="text" id="newFirst" class="form-control">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Last Name: </span>
					</div>
					<input type="text" id="newLast" class="form-control">
				</div>

				<div>
					<br>
					<button type="button" id="RegisterNew" class="btn btn-success">Submit</button>
					<button type="button" id="Return" class="btn btn-link">or
						return</button>
				</div>
			</div>

		</div>
	</div>
</div>